<div class="post">
    <div class="post-content">
        <div class="post-header">
            <div class="name-datetime">
                <img src="" alt="" class="post-author-image">
                <div class="post-author-name"></div>
            </div>
            <div class="calendar-format">
                <div class="calendar-block">
                    <p class="month"></p>
                    <p class="day"></p>
                    <p class="year"></p>
                </div>
                <p class="time"></p>
            </div>
        </div>
        <div class="post-message"></div>
    </div>
    <div class="post-stats">
        <div class="post-stats-container">
            <div class="section likes">
                <div class="text likes-count"></div>
                <div class="bar"></div>
            </div>
            <div class="section reposts">
                <div class="text reposts-count"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>